#ekit_lottie_dcc85b0 {
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 35%);
  svg {
    max-height: 500px;
  }
}

#gallery-1,
#gallery-2 {
  display: grid;
  place-items: center;
}

.gitcard {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .section3 {
    padding: 0;
  }
}
@media (min-width: 767px) {
  #icon-wrap-1,
  #icon-wrap-2 {
    padding: 0;
    #gallery-1,
    #gallery-2 {
      display: flex;
      place-items: center;
    }
  }
}
@media (min-width: 1024px) {
  #icon-wrap-1,
  #icon-wrap-2 {
    padding: 0;

    #gallery-1,
    #gallery-2 {
      display: flex;
    }
  }
}

.skills {
  direction: rtl;
}
.gitCard,
.gitCard2 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;

  svg {
    width: 100%;
    height: 100%;
    max-width: 400px;

    svg {
      transform: scale(1);
    }
  }
}
.gitCard svg {
  transform: scale(1.5);
  flex: 0 0 100%;
  padding: none;
  margin: 10px 0;
}
.gitCard2 svg {
  transform: scale(1.5);
  flex: 0 0 100%;
  padding: none;
  margin: 10px 0;
  padding: 4vw 0;
}
@media (min-width: 340px) {
  .gitCard2 svg {
    padding: 3.2vw 5vw;
    transform: scale(1.3);
  }
}
@media (min-width: 768px) {
  .gitCard2 svg {
    flex: 1;
    padding: 1em 5vw;
  }
}
@media (min-width: 1024px) {
  .gitCard2 svg {
    padding: 2em 6em;
    transform: scale(1.6);
  }
  .elementor-159 .elementor-element.elementor-element-564b576 {
    padding-bottom: 1rem;
  }
}
.contact-form label {
  width: 100%;
  margin: 0 auto;
}
.contact-form form > p:nth-last-of-type(1) {
  display: inherit !important;
}
.mailSent svg {
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0) 75%);
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0) 75%);
}

.form-all *,
.form-all textarea,
.form-all label {
  @import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
  font-family: "Cormorant Garamond";
  font-weight: 600;
  letter-spacing: 0.05rem;
}

@media (max-width: 1023px) {
  .elementor-159 .elementor-element.elementor-element-564b576 {
    padding: 3rem 1rem;
  }
}
